<!DOCTYPE html>
<html>
<head>
	<title>Create New User</title>
	<link rel="stylesheet" href="css/general.css">
	<link rel="stylesheet" href="css/authentification.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		$(document).ready(function() {
			$("input").focus(function() {
				$(this).css("background-color", "#DBED76");
			});
			$("input").blur(function() {
				$(this).css("background-color", "#ffffff");
			})
		});	
	</script>
</head>
<body onload="write_error()">
	<div class="bgcontainer" style="height: 100%; background-position: fixed;">
		<% if(typeof error !== 'undefined') { %>
			<div class="error">
				<div class="error_child">
					<%= error %>
				</div>
			</div>
		<% } %>
		<div class="container">
			<form action="http://liftbuddy.herokuapp.com/create_user" method="post">
				<center><h1>Create User</h1></center>
				<label for="username">Username:</label>
				<input type="text" name="username" id="username" placeholder="Enter your username"><br>
				<label for="email">Email:</label>
				<input type="email" name="email" id="email" placeholder="Enter your email address"><br>
				<label for="password">Password:</label>
				<input type="password" name="password" id="password" placeholder="Enter your password"><br>
				<label for="passwordConf">Confirm Password:</label>
				<input type="password" name="passwordConf" id="passwordConf" placeholder="Re-enter your password"><br><br>
				<center><input type="submit" value="Submit"></center><br>
			</form>
			<center><a href="login">Log in Here</a></center>
		</div>
	</div>
</body>
</html>