<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
	<link rel="stylesheet" href="css/general.css">
	<link rel="stylesheet" href="css/mainpage.css">
	<link rel="stylesheet" href="css/homepage.css">
</head>
<body>
	<div class="bg homepage">
		<span id="text_box_title"><h1>Hello! Welcome to liftBuddy</h1></span>
		<span id="text_box_title_small"><h1>liftBuddy</h1></span>
		<div id="text_box">
			LiftBuddy helps people maintain their workout schedules.

			How to Use:
			Use the +/- to create/delete a set
			Use the right arrow to add the selected workout to your set, and use the left arrow to remove selected workout from your set.
		</div>
		<div class="bgcontainer">
		</div>
		<a href="">
			<div id="menu">
				<div id="menu_text">
					liftBuddy
				</div>
			</div>
		</a>
		<div id="container">
			<a href="login">
				<div id="login">
					<div id="child">
						Login
					</div>
				</div>
			</a>
			<div id="create-account">
				<a href="create_user">Or create an account here</a>
			</div>
		</div>
	</div>
</body>
</html>