<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
	<link rel="stylesheet" href="css/general.css">
	<link rel="stylesheet" href="css/mainpage.css">
	<link rel="stylesheet" href="css/homepage.css">
</head>
<body>
	<div class="bg homepage">
		<div id="text_box_title">
			<h1>Hello! Welcome to liftBuddy</h1>
		</div>
		<div id="text_box">
			liftBuddy is a web app designed to allow users to create their own workout routines. <br>
			By selecting different exercises available, users can create custom workouts that fit their own needs.<br><br>
			TODO: <br>
			(express-session) Work on allowing user selection to save to their personal workouts and sessions (cookies) <br>
			>> (express-session) Save values from HTML select form into sessions by potentially sending values to backend in mongoDB. <br>
			(SpotifyAPI) Connect Spotify and allow users to assign playlists to workouts <br>
			(bug) pressing - does not remove the workout options. Don't forget to adjust mongoDB as well when minus is pressed
			(bug) bad bug that makes it so that errors in create user/login doesnt work anymore. this is due to trying to save user data and the POST/GET requests and authentification with bcrypt hashing
		</div>
		<div class="bgcontainer">
		</div>
		<a href="">
			<div id="menu">
				<div id="menu_text">
					liftBuddy
				</div>
			</div>
		</a>
		<div id="container">
			<a href="login">
				<div id="login">
					<div id="child">
						Login
					</div>
				</div>
			</a>
			<div id="create-account">
				<a href="create_user">Or create an account here</a>
			</div>
		</div>
	</div>
</body>
</html>