<!DOCTYPE html>
<html>
<head>
	<title>Log In Page</title>
	<link rel="stylesheet" href="css/general.css">
	<link rel="stylesheet" href="css/authentification.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		$(document).ready(function() {
			$("input").focus(function() {
				$(this).css("background-color", "#cccccc");
			});
			$("input").blur(function() {
				$(this).css("background-color", "#ffffff");
			})
		});	
	</script>
</head>
<body onload="write_error()">
	<div class="bgcontainer" style="height: 100%; background-position: fixed;">
		<% if(typeof error !== 'undefined') { %>
			<div class="error" style="top: 22.3%">
				<div class="error_child">
					<%= error %>
				</div>
			</div>
		<% } %>
		<div class="container" style="height: 370px; top: 50%">
			<form action="http://localhost:3000/login" method="post">
				<center><h1>liftBuddy</h1></center>
				<label for="email">Email:</label>
				<input type="email" name="email" id="email" placeholder="Enter your email"><br>
				<label for="password">Password:</label>
				<input type="password" name="password" id="password" placeholder="Enter your password"><br><br>
				<center><input type="submit" value="Submit"></center><br>
				<center><a href="create_user">Don't have an account?</a></center>
			</form>
		</div>
	</div>
</body>
</html>