h1 {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 60px;
	color: #444;
}
#login{
	background-color: #1A1B1D;
	width: 75px;
	height: 30px;
	border: 2px solid black;
	display: block;
	padding: 70px 0;
  	text-align: center;
  	font-family: sans-serif;
 	font-weight: bold;
 	font-size: 13px;
 	background: #FF9900;
	color: #000000;
  	border-radius: 150px;
  	padding: 0 15px 0 15px;
  	display: inline-block;
  	position: absolute;
  	right: 0px;
  	bottom: 20px;
  	margin-right: 5px;
}
#login:hover {
	background-color: pink;
}
#child {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 50%;
	height: 50%;
	margin: auto;
}
#create-account {
	position: absolute;
	right: 0px;
	bottom: 0px;
	margin-right: 5px;
	margin-bottom: 3px;
}
#container {
	position: fixed;
	width: 200px;
	height: 60px;
	bottom: 5px;
	right: 5px;
	margin-top: -180px;
	margin-left: -150px;
	margin-right: 5px;
	margin-bottom: 5px;
	background: rgba(175, 204, 219, 0.7);
	border-radius: 3px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px rgba(0,0,0, .1);
}
#text_box_title {
	position: absolute;
	height: 150px;
	width: 90%;
	background-color: #A9B6CE;
	margin-top: 100px;
	display: inline-block;
	margin-left: -45%;
	margin-top: 150px;
	text-align: center;
	visibility: visible;
}
#text_box_title_small {
	position: absolute;
	height: 150px;
	width: 90%;
	background-color: #A9B6CE;
	margin-top: 100px;
	display: inline-block;
	margin-left: -45%;
	margin-top: 150px;
	text-align: center;
	visibility: hidden;
}
@media only screen and (max-width: 891px) {
	#text_box_title {
		visibility: hidden;
	}
	#text_box_title_small {
		visibility: visible;
	}
}
#text_box {
	position: absolute;
	width: 90%;
	height: 1000px;
	background-color: #90B3D3;
	margin-top: 100px;
	display: inline-block;
	margin-left: -45%;
	margin-top: 300px;
	text-align: left;
}
#logout {
	position: fixed;
	height: 20px;
	width: 300px;
	color: white;
	background-color: red;
	text-align: center;
	left: 50%;
	margin-left: -150px;
	top: 20px;
}