.bg { 
	width: 100%;
	bottom: 0%;
	position: absolute;
}
.bg.profile {
	height: 100%;
	background-color: white;
}
.bg.homepage {
	height: 180%;
	background-color: #CFB6B6;
	text-align: center;
	margin-left: -8px;
	top: 0%;
}
#menu {
	width: 430px;
	height: 150px;
	background-image: url("../images/steel.jpg");
	background-position: relative;
	background-attachment: relative;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	left: 50%;
	margin-left: -215px;
	clip-path: polygon(0 0, 100% 0, calc(100% - 15%) 100%, 15% 100%);
	border-radius: 80px;
}
#menu_text {
	color: #444;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 60px;
	font-weight: bold;
	position: absolute;
	right: 50%;
	top: -30%;
	margin: auto;
	margin-right: -29.5%;
	margin-top: 20%;
}
a {
	color: white;
	text-decoration: none;
}
a:link {
	color: white;
	text-decoration: none;
}
a:visited {
	color: white;
	text-decoration: none;
}
a:hover {
	color: red;
	text-decoration: none;
}
